* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #b3c3ef;
}
h1, p {
  text-align: center;
  margin: 20px;
}
#counter {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
}
#counter button {
  color: #ee8421;
  font-weight: 900;
  width: 40px;
  height: 40px;
  margin: 12px;
  border: 2px solid #ee8421;
  border-radius: 2px;
  background-color: #f3d5ba;
  box-shadow: 0 5px 10px -4px #00000022;
  cursor: pointer;
  transition-duration: 100ms;
}
#counter button:hover {
  background-color: #f3d8bf;
}