* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #e7fae6;
}
h1 {
  width: fit-content;
  margin: 16px auto;
  text-align: center;
}
#list-container {
  font-size: 1.2rem;
  width: min(480px, 98vw);
  margin: 0 auto 40px auto;
  padding: 4px;
}
#add-container {
  padding: 8px;
  margin: 12px auto;
  display: flex;
  justify-content: center;
  gap: 6px;
}
#add-container > input {
  font-size: 1.2rem;
  padding: 2px;
  background-color: #c4f0bd;
  color: #4ba43d;
  border: 2px solid #4ba43d;
  border-radius: 4px;
}
#add-container #newTask {
  width: 60%;
  outline: none;
  padding-left: 8px;
  transition: 200ms;
}
#add-container #newTask:focus{
  box-shadow: 0px 0px 8px -2px #0000002d;
  border: 2px solid #60c351;
}
#add-container #addTask {
  width: 2rem;
  cursor: pointer;
  transition: 200ms;
}
#add-container #addTask:hover {
  border: 2px solid #58b84a;
}

#tasks-container {
  margin: 12px auto;
}
.item {
  word-wrap: break-word;
  margin: 12px;
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.task {
  display: none;
  min-width: 1.4rem;
  min-height: 1.4rem;
}
.task:checked + label {
  color: #4ba43d80;
}

.task-labels {
  max-width: 100%;
  color: #4ba43d;
  transition: 400ms;
}

.task-labels:before {
  display: inline-block;
  content: '✔';
  text-align: center;
  color: transparent;

  min-width: 1.4rem;
  min-height: 1.4rem;
  transform: translatey(.12rem);
  cursor: pointer;

  border: 2px solid #4ba43d;
  border-radius: 4px;
}

.task:checked + .task-labels:before {
  background-color: #222bd622;
  color: #4ba43d;
  border: 2px solid #3d98a4;
}